/* Montserrat Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    cursor: none;
}

body {
    background-color: black;
    
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 50px);
}

.cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    
    background-color: white;
    opacity: 25%;
    border-radius: 50%;

    transition-duration: 0.001ms;
    transition-timing-function: ease-out;

    z-index: 10000;
}

.backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;

    z-index: -1;
}

/* Animations */
@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.7);
    }
}

@keyframes colorChange {
    to {
        font-weight: 700;
        
        color: transparent;
        background-image: linear-gradient(90deg, #E4795A, #FFBB41);
        -webkit-background-clip: text;
    }
}

@keyframes fadeIn {
    to {
        opacity: 100%;
    }
}

@keyframes fontWeight {
    from {
        font-weight: 200;
    }
    to {
        font-weight: 700;
    }
}

@keyframes gradient {
    100% {
        background-position: right;
    }
}

@keyframes pulse {
    50% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(3px);
    }
}

/* .gradient {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    
    top: -150px;
    height: 200px;
    width: 100vw;

    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 40%;

    background: linear-gradient(90deg, #E4795A, #FFBB41);

    filter: blur(50px);

    animation: pulse 5s infinite alternate;
} */

/* Navigation Bar */
.navbar {
    display: flex;
    position: fixed;    
    padding: 12px 10%;  
    align-items: center;  
    justify-content: space-between;
    
    width: 100%;
    top: 0;
    
    background: transparent;

    z-index: 1000;

    transition: ease-in-out 0.5s;
}

.navbar a {
    background: transparent;
}

.navbarScrolled {
    padding: 7px 10%;
    
    background-color: rgba(0, 0, 0, 0.925);

    box-shadow: 0px 5px 5cap black;
}

.navLogo {
    height: 19px;

    cursor: none;

    transition: 1.5s ease, transform 0.7s ease;

    overflow: hidden;
}

.navLogo:hover {
    filter: brightness(2.8);
    transform: rotate(180deg);
}

.navLogoScrolled {
    opacity: 0%;
    
    transform: translateY(-100px);

    transition: 
        opacity 0.5s ease, 
        transform 2s ease
    ;

    background: transparent;
}

.navLogo2 {
    display: flex;
    margin-top: 2px;
    padding: 5px;
    
    height: 35px;

    transition: ease 1s;

    transform: translateY(-100px);

    background: transparent;
}

.navLogo2:hover {
    transform: scale(1.1);
}

.navContainer {
    display: flex;
    margin-top: -2px;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;

    width: 810px;

    list-style: none;
    
    overflow: hidden;

    transition: 3s ease;
}

.navLinks {
    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
}

.navLinksScrolled {
    opacity: 80%;
    transition: opacity 1s ease;

    background: transparent;
}

.section1, .section2 {
    transition: 2s ease;
}

.section1 li,
.section2 li  {
    display: inline-block;
    padding: 0px 30px;
    
    transition: all 0.3s ease;

    background: transparent;
}

.section1 li a,
.section2 li a  {
    display: inline-block;
    position: relative;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #edf0f1;
    /* color: rgba(237, 240, 241, 0.5); */
    
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.5px;

    transition: all 0.5s ease;

    background: transparent;
}

.section1 li a:hover,
.section2 li a:hover {
    border-radius: 5px;

    font-weight: 600;
    letter-spacing: 3.5px;

    color: transparent;
    background: linear-gradient(90deg, #E4795A, #FFBB41);
    -webkit-background-clip: text;
}

.section1Scrolled {
    text-align: left;
    
    transform: translateX(-110px);

    background: transparent;
}

.section2Scrolled {
    text-align: right;
    
    transform: translateX(110px);

    background: transparent;
}

.headerButtons {
    display: flex;
    flex-direction: row;
}

.login {
    position: relative;
    
    height: 35px;
    width: 85px;

    border: none;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 10px;

    color: transparent;
    background: linear-gradient(90deg, #E4795A, #FFBB41);
    -webkit-background-clip: text;

    text-transform: uppercase;
    letter-spacing: 2px;

    transition: 
        font-weight 0.5s ease, 
        letter-spacing 0.5s ease, 
        opacity 0.5s ease, 
        transform 2s ease
    ;
}

.login::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    padding: 1.5px;
    
    background: linear-gradient(90deg, #E4795A, #FFBB41);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude; 
    pointer-events: none;
}

.login:hover {
    font-weight: 700;
    letter-spacing: 3px;
}

.login:active {
    transform: scale(0.9);
}

.loginScrolled {
    opacity: 0%;

    transform: translateY(-100px);
}

.menu {
    display: none;
}

/* Landing */
.landing {
    display: flex;
    height: 100vh;
    width: 100vw;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: transparent;
}

.landingText {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transform: translateY(-30px);
}

.landingText h1 {
    width: 70%;
    
    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 90px;

    color: #edf0f1;
    background-color: transparent;
}

.landingText h2 { 
    margin-top: -10px;

    width: 80%;

    text-align: center;    

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 80px;

    color: transparent;

    background: linear-gradient(90deg, #E4795A, #FFBB41);
    background-size: 200%;
    background-position: left;
    -webkit-background-clip: text;

    animation: gradient 2s ease-in-out alternate infinite;
}

.landingText h3 {
    margin: 25px 0;
    width: 50%;

    text-align: center; 
    line-height: 1.6;   

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 17px;
    
    color: #edf0f1;
    background-color: transparent;
}

:root {
    --gradient: linear-gradient(
        45deg,
        #0D0D0D, 
        #262626,
        #E4795A,
        #FFBB41
    );
}

.landingText button {
    margin: 10px 0;
    position: relative;
    padding: 5px;
    
    height: 60px;
    width: 220px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;

    border: none;
    border-radius: 20px;
    
    color: #edf0f1;
    background-image: var(--gradient);
    background-size: 300%;
    background-position: left;

    opacity: 0%;

    transition: all 0.25s ease, background-position 0.75s ease;
    animation: fadeIn 2s forwards;
    animation-delay: 1s;
}

.landingText button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    padding: 2px;
    
    background: linear-gradient(90deg, #E4795A, #FFBB41);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude; 
    pointer-events: none;
}

.landingText button:hover {
    background-position: right;
}

.landingText button:active {
    transform: scale(0.95);
}

.fadeBox {
    display: flex;
    position: absolute;
    top: 90%;
    
    height: 160px;
    width: 4000px;
    
    background: rgb(0, 0, 0);
    opacity: 50%;
    filter: blur(5px);
}

/* Our Product: Meet Versa */
.prodIntro {
    display: flex;
    height: 100vh;
    width: 100vw;

    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    background-color: black;

    overflow-x: hidden;
}

.prodIntro img {
    height: 600px;
    
    z-index: 1;

    overflow: hidden;
}

.prodIntro h1 {
    display: flex;
    height: 115px;
    margin-top: 10px;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 80px;

    color: #edf0f1;
    z-index: 1;

    overflow: hidden;
}

.prodIntro span {
    margin-left: 15px;
    
    animation: ease-in-out colorChange 2s forwards;

    overflow: hidden;
}

.prodIntro p {
    margin-top: 10px;
    margin-bottom: 30px;
    height: 60px;
    width: 50%;

    text-align: center; 
    line-height: 1.6;   

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 17px;

    color: #edf0f1;

    overflow: hidden;
}

/* Our Product: Statistics */
.companyStats {
    display: flex;
    align-items: center;
    text-align: center;
    
    list-style: none;
    
    height: 30vh;
    width: 100vw;
}

.companyStats ul {
    display: flex;
    margin-top: -30px;
    padding: 20px;
    justify-content: center;
    width: 100%;

    gap: 16px;

    list-style: none;

    transition: ease 0.5s;
}

.companyStats li {
    display: flex;
    position: relative;
    padding: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    height: 150px;
    width: 22.5%;

    border: none;
    border-radius: 20px;
    
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.2);

    background: linear-gradient(45deg, #0D0D0D, #262626);
    opacity: 0%;

    transition: ease 0.5s;
}

.companyStats li::before {
    content: "";
    position: absolute;
    padding: 2px;


    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    border-radius: 20px;
    
    background: linear-gradient(90deg, #E4795A, #FFBB41);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude; 
    pointer-events: none;
}

.companyStats li:hover {
    color: #edf0f1;
    opacity: 100%;
    transform: scale(1.02);
}

.companyStats li h1 {
    margin: 5px 0;
    padding-top: 10px;

    font-size: 25px;
}

.companyStats li p {
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 10px;

    font-size: 12px;
    line-height: 15px;
}

/* Compatibility: Our Product in Action */
.prodInAction {
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: center;

    height: 70px;
    width: 100vw;

    overflow: hidden;
}

.prodInAction h1 {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 70px;

    text-wrap: nowrap;
    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: #edf0f1;

    overflow: hidden;
}

.prodInAction span {
    margin-left: 10px;

    font-weight: 700;
    color: transparent;

    background: linear-gradient(90deg, #E4795A, #FFBB41);
    -webkit-background-clip: text;
}

/* Live Demos */
.prodDemos {
    display: flex;
    flex-direction: column;
}

.demoSet1 {
    display: flex;    
    padding: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;

    height: 600px;

    gap: 25px;

    overflow: hidden;
}

.demoBox1, .demoVideo1, 
.demoBox2, .demoVideo2,
.demoBox3, .demoVideo3,
.demoBox4, .demoVideo4 {
    border-radius: 40px;
}

.demoSet2 {
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;

    height: 600px;

    gap: 25px;

    overflow: hidden;
}

.demoSet2 div {
    border-radius: 40px;
}

.demoPlaceholder {
    height: 10px;
}

.demoBox1 {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 565px;
    width: 886px;

    background-color: #316FF6;

    transition: ease 0.5s;
}

.demoBox2 {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 565px;
    width: 615px;

    background-color: #39ff5a;

    transition: ease 0.5s;
}

.demoBox3 {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 565px;
    width: 605px;

    background-color: #0077B5;

    transition: ease 0.5s;
}

.demoBox4 {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 565px;
    width: 907px;
    
    background: linear-gradient(115deg, #6228d7, #ee2a7b, #f9ce34);

    transition: ease 0.5s;
}

.demoVideo1 {
    display: flex;
    margin: 0 50px;
    align-items: center;
    justify-content: center;

    height: 475px;
    width: 300px;

    background-color: black;
    filter: drop-shadow(0 10px 18px rgba(30, 30, 30, 0.5));

    transition: ease 0.5s;
}

.demoVideo1:hover {
    transform: scale(1.02);

    filter: drop-shadow(0 10px 18px rgba(30, 30, 30, 0.7));
}

.demoVideo1:active {
    transform: scale(0.95);
}

.demoVideo2 {
    display: flex;
    margin: 0 50px;
    align-items: center;
    justify-content: center;

    height: 413px;
    width: 242px;

    background-color: black;
    filter: drop-shadow(0 10px 18px rgba(30, 30, 30, 0.5));

    transition: ease 0.5s;
}

.demoVideo2:hover {
    transform: scale(1.02);

    filter: drop-shadow(0 10px 18px rgba(30, 30, 30, 0.7));
}

.demoVideo2:active {
    transform: scale(0.95);
}

.demoVideo3 {
    display: flex;
    margin: 0 50px;
    align-items: center;
    justify-content: center;

    height: 391px;
    width: 272px;

    background-color: black;
    filter: drop-shadow(0 10px 18px rgba(30, 30, 30, 0.5));

    transition: ease 0.5s;
}

.demoVideo3:hover {
    transform: scale(1.02);

    filter: drop-shadow(0 10px 18px rgba(30, 30, 30, 0.7));
}

.demoVideo3:active {
    transform: scale(0.95);
}

.demoVideo4 {
    display: flex;
    margin: 0 50px;
    align-items: center;
    justify-content: center;

    height: 435px;
    width: 604px;

    background-color: black;
    filter: drop-shadow(0 10px 18px rgba(30, 30, 30, 0.5));

    transition: ease 0.5s;
}

.demoVideo4:hover {
    transform: scale(1.02);

    filter: drop-shadow(0 10px 18px rgba(30, 30, 30, 0.7));
}

.demoVideo4:active {
    transform: scale(0.95);
}

.demoVideo4 img {
    height: 100%;

    border-radius: 40px;

    transition: ease 0.5s;
}

/* Compatibilty */
.iconBoxes {
    display: flex;
    position: absolute;
    justify-content: center;

    height: 100vh;
    width: 100vw;
}

.boxWrapper {
    display: flex;
    align-items: center;

    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 100px;

    gap: 80px;
}

.boxWrapper img {
    height: 115px;
}

.box1, .box2, .box3, .box4 {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 200px;
    width: 200px;

    border-radius: 25px;

    background-color: rgba(38, 38, 38, 0.5);
}

.box1 img {
    border-radius: 25px;
    
    background: transparent;

    filter: drop-shadow(0px 10px 20px rgba(24, 119, 242, 0.4));
    
    animation: 5s pulse alternate infinite;
}

.box1 img:hover {
    transform: scale(1.1);
}

.box2 img {
    background: transparent;

    filter: drop-shadow(0px 10px 20px rgba(57, 255, 90, 0.4));

    animation: 5s pulse alternate infinite;
    animation-delay: 1.75s;
}

.box3 img {
    background: transparent;

    filter: drop-shadow(0px 10px 20px rgba(193, 53, 132, 0.9));

    animation: 5s pulse alternate infinite;
    animation-delay: 2s;
}

.box4 img {
    border-radius: 25px;

    background: transparent;
    
    filter: drop-shadow(0px 10px 20px rgba(2, 136, 209, 0.5));

    animation: 6s pulse alternate infinite;
    animation-delay: 2.5s;
}

.iconBoxText {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: fit-content;
    width: fit-content;

    top: 500px;

    gap: 15px;

    overflow: hidden;
}

.iconBoxText h1 {
    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight: 400;
    color: #edf0f1;

}

.iconBoxText span {
    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-size: 85px;
    font-weight: 700;
    color: transparent;

    background: linear-gradient(90deg, #E4795A, #FFBB41);
    -webkit-background-clip: text;

    animation: fontWeight 3s forwards;
}

.iconBoxText h2 {
    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-size: 17.5px;
    font-weight: 300;
    color: #edf0f1;

    background-color: transparent;
}

/* Testimonials */
.reviews {
    display: flex;
    margin-top: 100vh;

    height: 100vh;
    width: 100vw;

    background-color: black;
}

/* Contact */
.contact {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
}

.contactInfo {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    height: 480px;
    width: 1100px;

    border-radius: 20px;

    background-color: rgba(17, 17, 17, 0.95);

    gap: 12.5px;

    z-index: 1;
}

.contactInfo h1 {
    text-align: center;

    margin-top: 60px;
    margin-bottom: 20px;

    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-weight: 700;
    color: #edf0f1;

    background: transparent;

    overflow-x: visible;
}

.contactInfo h2 {
    width: 60%;

    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #edf0f1;

    opacity: 50%;

    background: transparent;
    
    overflow-x: visible;
}

.contactInfo span {
    color: transparent;

    background: linear-gradient(90deg, #E4795A, #FFBB41);
    background-size: 200%;
    background-position: left;
    -webkit-background-clip: text;

    animation: gradient 2s ease-in-out alternate infinite;
}

.contactInfo button {
    margin-bottom: 5px;
    
    height: 120px;
    width: 170px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.5px;

    border: none;
    border-radius: 20px;
    
    color: #edf0f1;
    background: linear-gradient(90deg, #E4795A, #FFBB41);

    transition: ease 0.5s;

    cursor: pointer;

    overflow-x: visible;
}

.contactInfo button:active {
    transform: scale(0.9);
}

.contactInfo a {
    color: #edf0f1;

    text-decoration: none;

    background: transparent;

    overflow-x: visible;
}

.contactInfoInputs {
    display: flex;
    margin-top: 15px;
    flex-direction: column;

    height: 500px;
    width: 800px;

    background-color: transparent;

    overflow-x: visible;
}

.contactInfoInputsSection1, .contactInfoInputsSection2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    background-color: transparent;

    gap: 15px;

    overflow-x: visible;
}

.firstNameComp, .lastNameComp, .businessEmailComp, .companyNameComp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: transparent;

    overflow-x: visible;
}

.entryAreaContainer {
    width: 450px;
    height: 90px; /* toggles horizontal gap */

    background: transparent;
    
    resize: both;

    overflow-x: visible;
}

.entryArea {
    position: relative;
    height: 80px;
    line-height: 65px;

    font-family: 'Montserrat', sans-serif;

    background: transparent;

    overflow-x: visible;
}

.entryAreaInput {
    position: absolute;
    padding: 0 30px;

    width: 100%;

    line-height: 60px;
    outline: none;

    border: 2px solid rgba(237, 240, 241, 0.2);
    border-radius: 10px;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;

    background: transparent;

    transition: 0.1s ease;

    z-index: 1111;

    overflow-x: visible;
}

.entryAreaInput:focus, 
.entryAreaInput:valid {
    color: rgba(237, 240, 241, 0.7);

    font-weight: 600;

    border: 2px solid rgba(237, 240, 241, 0.3);

    overflow-x: visible;
}

.entryAreaInput:focus + .labelLine, 
.entryAreaInput:valid + .labelLine {
    padding: 0 12px;

    color: rgba(237, 240, 241, 0.6);
    
    line-height: 30px;
    
    transform: translate(-15px, -16px) scale(0.88);
    
    z-index: 1111;

    overflow-x: visible;
}

.labelLine {
    position: absolute;
    margin-left: 30px;

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: rgba(237, 240, 241, 0.4);

    background-color: #111111;

    transition: 0.2s ease;

    overflow-x: visible;
}