@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    user-select: none;
}

:root {
    /* Sidebar: Container Width */
    --sidebar-width: 260px;

    /* Upper Nav: Height */
    --nav-height: 70px;

    /* Upper Nav: Margins */
    --nav-margin: 10px;

    /* Tile Presets: Status */
    --green: #02C27A;
    --blue: #0D6EFD;
    --yellow: #FFD700;
    --red: #EE4B2B;
    --gray: #D3D3D3;

    /* Tile Presets: Progress Bar */
    --prog-height: 3px;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, p, span, i {
    transition: 0.2s ease;
}

/* Animations */
@keyframes grow {
    100% {
        width: calc(100% - 50%);
    }
}

/* General Presets: Checkbox */
.checkbox {
    appearance: none;

    height: 15px;
    width: 15px;

    border-radius: 5px;

    background-color: #2D3136;

    cursor: pointer;

    transition: background-color 0.5s ease;
}

.checkbox:checked {
    background-color: #0D6EFD;
}

.checkbox::after {
    content: '';

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    color: white;
}

/* Page Foundation */
body {
    background-color: #181B1E;

    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: row;

    height: fit-content;
    width: 100%;
}

/* Sidebar */
.sidebarContainer {
    display: flex;

    height: 100vh;
    width: var(--sidebar-width);

    transition: 0.5s ease;
}

.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;

    position: fixed;

    height: 100vh;
    width: var(--sidebar-width);

    border-right: 1px solid #484F56;
    border-radius: 0;

    background-color: #212428;

    transition: 0.5s ease;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    height: 40px;

    transition: 0.5s ease;

    transform: translateY(-100px);
}

.logo img {
    height: 100%;

    transition: 0.5s ease;
}

.logo img:hover {
    filter: drop-shadow(0 0 10px rgba(228, 120, 90, 0.5));

    transform: scale(1.1);
}

.bannerContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;

    height: 100px;
    width: 100%;

    transition: 0.5s ease;

    z-index: -1;
}

.bannerContainer .banner {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    border-radius: 10px;

    background-color: #181B1E;

    cursor: pointer;

    overflow: hidden;
}

.bannerContainer .banner img {
    height: 100%;

    transition: 0.5s ease;
}

.bannerContainer .banner:hover img {
    opacity: 50%;
}

.listContainer {
    display: flex;

    padding: 0 10px 10px 10px;

    height: 100%;
    width: 100%;
}

.listContainer .list {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    background-color: #212428;

    transition: 0.5s ease;
}

.listContainer .list .subheading {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    height: 25px;

    margin-bottom: 10px;
    padding: 30px 0 0 0;

    border-top: 1px solid #484F56;
    border-radius: 0;

    transition: 0.5s ease;
}

.listContainer .list .subheading h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;

    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.listContainer .list .subheading i {
    margin: 0 5px 0 0;

    font-size: 20px;
}

.listContainer .list .subheading:hover {
    background-color: transparent;
}

.listContainer .list .subheading:hover h1 {
    color: #DEE2E6;
}

.listContainer .list .listText {
    display: flex;
    align-items: center;

    margin: 6px 0 6px 16px;
}

.listContainer .list li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 5px;

    height: 40px;
    width: 100%;

    border-radius: 6px;

    list-style: none;

    transition: 0.5s ease;

    cursor: pointer;
}

.listContainer .list li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.listContainer .list li h1 {
    margin-left: 15px;

    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #A7ACB1;

    transition: 0.5s ease;
}

.listContainer .list li i {
    font-size: 24px;
    color: #A7ACB1;

    transition: 0.5s ease;

    cursor: pointer;
}

.listContainer .list li .dropdown {
    display: flex;
    align-items: center;

    margin-right: 3px;

    transition: 0.5s ease;

    cursor: pointer;
}

.listContainer .list li:hover h1,
.listContainer .list li:hover .dropdown {
    color: #DEE2E6;
}

.listContainer .list li:hover i {
    color: #DEE2E6;
}

.credits {
    display: flex;
    flex-direction: column;

    margin: 0 0 10px 0;
    padding: 10px 20px;

    border-radius: 10px;

    text-wrap: nowrap;

    background-color: #181B1E;

    transition: 0.5s ease;
}

.credits h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #DEE2E6;
}

.credits span {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #DEE2E6;
}

/* Current Page */
.inSelection-2 {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Main Foundation */
.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Upper Navigation */
nav {
    display: flex;
    
    height: var(--nav-height);
    width: 100%;

    background-color: #181B1E;

    transition: 0.5s ease;
}

.upperNav {
    display: flex;
    align-items: center;
    justify-content: center;

    position: sticky;
    top: 0;

    padding: 0 24px;

    height: 100%;
    width: 100%;

    background-color: #212428;

    transition: 0.5s ease;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    z-index: 10;
}

/* Upper Navigation: Features */
.navContents {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
}

.navContent {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: var(--nav-margin);

    height: 40px;
    width: 40px;

    border-radius: 80px;

    background-color: transparent;

    transition: 0.5s ease;

    cursor: pointer;
}

.navContent:nth-of-type(1):hover,
.navContent:nth-of-type(4):hover,
.navContent:nth-of-type(5):hover,
.navContent:nth-of-type(6):hover,
.navContent:nth-of-type(7):hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.navContent i {
    font-weight: 100;
    font-size: 24px;

    color: #DEE2E6;
}

/* Upper Navigation: Menu Toggle */
.menu {
    margin-right: 24px;
}

/* Upper Navigation: Search */
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    margin: 0 10px;

    height: 40px;
}

.input {
    display: flex;
    align-items: center;

    padding: 3px 0;

    height: fit-content;
    width: 100%;

    border: 1px solid #484F56;
    border-radius: 40px;
}

.inputIcon {
    display: flex;
    align-items: center;

    margin-left: 12px;
}

.inputIcon i {
    font-size: 24px;

    color: #DEE2E6;
}

.inputFieldContainer {
    display: flex;
    flex-grow: 1;

    margin: 0 10px;
}

.inputField {
    display: flex;

    height: 30px;
    width: 100%;

    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #DEE2E6;

    border: none;

    resize: none;
    outline: none;

    background-color: transparent;
}

/* Upper Navigation: Language */
.languageToggle {
    margin-right: var(--nav-margin);
    margin-left: 15px;
}

.languageToggle img {
    transition: 0.5s ease;
}

.languageToggle:hover img {
    transform: scale(1.2);
}

.languageToggle:active img {
    transform: scale(0.9);
}

.languageToggle img {
    height: 60%;
}

/* Upper Navigation: Profile */
.profile,
.profile-mobile {
    margin-left: 5px;
}

.profile:hover,
.profile-mobile:hover {
    transform: scale(1.1);
}

.profile:active,
.profile-mobile:active {
    transform: scale(0.9);
}

.profileBg,
.profile-mobile .profileBg {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;

    border: 1px solid #484F56;
    border-radius: 80px;
}

.imageContainer,
.profile-mobile .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;

    border-radius: 80px;
}

.profile img,
.profile-mobile img {
    height: 75%;
}

/* Upper Navigation: Mobile */
.logo-mobile {
    display: none;
    align-items: center;
    justify-content: center;
}

.logo-mobile img {
    height: 30px;
}

.logo-mobile:hover {
    filter: drop-shadow(0 0 10px rgba(228, 120, 90, 0.5));

    transform: scale(1.1);
}

.logo-mobile,
.aPr-mobile {
    display: none;
}

.aPr-mobile {
    justify-content: end;

    gap: 10px;
}

.aPr-mobile .profile-mobile {
    transition: 0.5s ease;
}

/* Upper Navigation: Lists */
.navList {
    display: none;
    flex-direction: column;

    position: absolute;
    top: 60px;

    padding: 5px;

    border: 1px solid #2D3136;
    border-radius: 10px;

    background: rgba(24, 27, 30, 0.7);

    transition: 0.5s ease;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    cursor: pointer;
}

.navListItem {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px 10px;

    min-width: 90px;

    transition: 0.5s ease;

    cursor: pointer;
}

.navListItem:hover {
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.1);
}

.navListItem h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400 !important;
    font-size: 15px;
    color: #A7ACB1;
}

.navListItem:hover h1 {
    color: #DEE2E6;
}

/* Hero Section Foundation */
.hero {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding: 24px;

    background-color: #181B1E;

    transition: 0.5s ease;
}

/* Hero Section: Directory */
.directory {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 16px;
}

.directoryContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.directoryText {
    display: flex;
    align-items: center;

    width: 275px;
}

.directoryText .header {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 0 16px 0 0;

    height: 30px;

    border-right: 1px solid #484F56;

    cursor: pointer;

    z-index: 1;
}

.directoryText .headerText {
    padding: 5px 7px;

    border-radius: 10px;

    transition: 0.5s ease;
}

.directoryText .headerText h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #DEE2E6;
}

.directoryText .headerText:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.directoryText .headerList {
    display: none;

    position: absolute;
    top: 135px;

    padding: 5px;

    border: 1px solid #2D3136;
    border-radius: 10px;

    background: rgba(24, 27, 30, 0.7);

    transition: 0.5s ease;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    cursor: pointer;
}

.directoryText .headerListItem {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px 10px;

    min-width: 90px;

    transition: 0.5s ease;

    cursor: pointer;
}

.directoryText .headerListItem:hover {
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.1);
}

.directoryText .headerListItem h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400 !important;
    font-size: 15px;
    color: #A7ACB1;
}

.directoryText .headerListItem:hover h1 {
    color: #DEE2E6;
}

.directoryText .description {
    display: flex;
    align-items: center;

    padding: 0 0 0 20px;

    text-wrap: nowrap;
}

.directoryText .description i {
    padding: 0 8px 0 0;

    font-weight: 500;
    font-size: 20px;
    color: #DEE2E6BF;
}

.directoryText .description h2 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #DEE2E6BF;
}

.settings {
    display: flex;
    align-items: center;
}

.settings button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;

    border: 1px solid #0D6EFD;
    border-radius: 6px;

    background-color: #181B1E;

    transition: 0.5s ease;

    cursor: pointer;
}

.settings button:hover {
    background-color: #0D6EFD;
}

.settings button i {
    font-size: 20px;
    color: #0D6EFD;

    transition: 0.75s ease;
}

.settings button:hover i {
    color: #DEE2E6;

    transform: rotate(360deg);
}

/* Hero Section: Campaigns - Container Foundation */
.foundation {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Hero Section: Campaigns - Toolbar */
.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: fit-content;
    width: 100%;
}

.toolbarOptions {
    display: flex;
    align-items: center;

    height: 100%;
    width: fit-content;

    gap: 10px;
}

.toolbarOptions .option {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 12px;

    border-radius: 5px;

    gap: 5px;

    background-color: #212428;

    transition: 0.5s ease;

    cursor: pointer;
}

.toolbarOptions .option h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #DEE2E6;
}

.toolbarOptions .option i {
    font-size: 16px;
    color: #DEE2E6;
}

.toolbarOptions .option:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.toolbarSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0.05;

    height: 40px;
}

.toolbarSearch .input {
    display: flex;
    align-items: center;

    padding: 3px 0;

    height: fit-content;
    width: 100%;

    border: 1px solid #484F56;
    border-radius: 15px;
}

.toolbarSearch .inputIcon {
    display: flex;
    align-items: center;

    margin-left: 12px;
}

.toolbarSearch .inputIcon i {
    font-size: 24px;

    color: #484F56;
}

.toolbarSearch .inputFieldContainer {
    display: flex;
    flex-grow: 1;

    margin: 0 10px;
}

.toolbarSearch .inputField {
    display: flex;

    height: 30px;
    width: 100%;

    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #DEE2E6;

    border: none;

    resize: none;
    outline: none;

    background-color: transparent;
}

/* Tile Blocks Foundation */
.tileContainer {
    display: flex;
    flex-direction: column;

    padding: 20px 0 0 0;

    height: 100%;
    width: 100%;
}

.tile {
    display: flex;
    flex-direction: column;
}

/* Tile Blocks Header */
.tileHeaders {
    display: flex;

    padding: 10px 15px 10px 22px;

    width: 100%;

    border: 1px solid #2F3439;
    border-radius: 10px;

    background-color: #212428;

    transition: 0.5s ease;
}

.tileHeader {
    display: flex;
    align-items: center;

    border-right: 1px solid #2F3439;
}

.tileHeader h1 {
    text-align: center;

    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #DEE2E6;
}

.tileHeader i {
    font-size: 20px;
    color: #DEE2E6;
}

.header-1,
.blockCol-1 {
    width: 15%;
    min-width: 15%;
}

.header-2,
.blockCol-2 {
    justify-content: center;

    width: 10%;
    min-width: 10%;
}

.header-3,
.blockCol-3 {
    justify-content: center;

    width: 20%;
    min-width: 20%;
}

.header-4,
.blockCol-4 {
    justify-content: center;

    width: 50%;
    min-width: 50%;
}

.header-5,
.blockCol-5 {
    justify-content: center;

    width: 5%;
    min-width: 5%;

    border: none;
}

/* Tile Block Presets */
.tileBlocks {
    display: flex;
    flex-direction: column;

    padding: 10px 0;

    width: 100%;

    gap: 15px;
}

.tileBlockContainer {
    display: flex;

    width: 100%;

    transition: transform 0.5s ease;

    cursor: pointer;
}

.tileBlock {
    display: flex;

    padding: 20px 15px;

    width: 100%;

    border: 1px solid #2F3439;
    border-radius: 10px;

    background-color: #181B1E;

    transition: 0.5s ease;
}

.blockColumn {
    display: flex;
    align-items: center;
}

.blockContent {
    display: flex;
    align-items: center;

    height: 100%;
    width: 100%;

    overflow-x: hidden;
}

.blockColumn:nth-of-type(1) .blockContent {
    gap: 10px;
}

.blockColumn:nth-of-type(2) .blockContent,
.blockColumn:nth-of-type(4) .blockContent,
.blockColumn:nth-of-type(5) .blockContent {
    justify-content: center;
}

.blockContent h1 {
    text-wrap: nowrap;

    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #DEE2E6;
}

.blockContent i {
    font-size: 30px;
    color: #DEE2E6;
}

.blockContent img {
    height: 40px;
}

.blockColumn:nth-of-type(3) .blockContent {
    justify-content: center;
    flex-direction: column;

    padding: 0 40px;

    gap: 10px;
}

.blockContent .progressBarHeader h1 {
    font-weight: 500;
    font-size: 15px;
}

.blockMetrics {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 10px;

    height: 100%;
    width: 100%;

    gap: 5px;
}

.blockMetric {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px 10px;

    height: 100%;
    width: 100%;

    gap: 15px;
}

.blockMetric:first-child {
    border-radius: 5px;

    background-color: #212428;
}

.blockMetric .metric {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 15px;

    border-radius: 5px;

    background-color: #212428;
}

.blockMetric .metricText {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    gap: 2px;
}

.blockMetric .metricText h1 {
    font-size: 10px;
}

.blockMetric .metricText i {
    font-size: 17px;
}

.visualContainers {
    display: flex;

    margin: 0 0 0 10px;

    gap: 15px;
}

.visualContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    max-height: 120px;
    max-width: 50px;

    overflow: hidden;
}

/* Tile Presets: Drag */
.tileDrag {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 0;

    cursor: grab;

    transition: 0.5s ease;
}

.tileBlockContainer:hover .tileDrag {
    padding: 0 5px 0 0;

    width: 20px;
}

.tileDrag:active {
    cursor: grabbing;
}

.tileDrag i {
    color: transparent;

    transition: 0.5s ease;
}

.tileBlockContainer:hover .tileDrag i {
    color: rgba(222, 226, 230, 0.2);
}

/* Tile Presets: Status */
.blockStatus {
    height: 10px;
    width: 10px;

    border-radius: 10px;

    background-color: gray;
}

/* Tile Presets: Progress Bar */
.progressBar {
    display: flex;

    height: var(--prog-height);
    width: 100%;
    min-width: 70px;

    border-radius: 5px;

    background-color: #212428;
}

.progressBarPercentage {
    height: var(--prog-height);

    width: 0;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    background-color: lightgray;

    overflow: hidden;

    animation: grow ease 0.75s forwards;
}

.edit {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;

    border-radius: 10px;

    filter: opacity(0);

    transition: 0.5s ease;
}

.edit:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.edit i {
    font-size: 17px;
    color: #DEE2E6;

    transition: 0.5s ease;
}

.edit:hover i {
    color: #DEE2E6;
}

.blockColumn:nth-of-type(1) .blockContent .content-1:hover+.edit {
    filter: opacity(1);
}

/* Theme Toggle */
.theme-toggle {
    display: flex;
    position: fixed;

    right: 30px;
    bottom: 30px;

    padding: 10px;

    height: fit-content;
    width: fit-content;

    border-radius: 30px;

    background-color: #DEE2E6;

    transition: 0.5s ease;

    cursor: pointer;
}

.theme-toggle:hover {
    transform: scale(1.1);
}

.theme-toggle i {
    color: #181B1E;
}

/* Media Queries: Larger Laptops */
@media (min-width: 1501px) and (max-width: 1700px) {
    .blockMetrics .text {
        padding: 20px 5px;

        height: fit-content;
    }

    .blockMetrics .extra .metric {
        padding: 5px 10px;
    }
    
    .blockMetric .metricText h1 {
        font-size: 8px;
        text-wrap: wrap;
    }
    
    .blockMetric .metricText i {
        font-size: 15px;
    }
    
    .visualContainers {
        display: flex;
    
        gap: 10px;
    }
}

/* Media Queries: Smaller Laptops */
@media (max-width: 1500px) {

    /* Page Foundation */
    .container {
        overflow-x: hidden;
    }

    /* Sidebar */
    .sidebarContainer,
    .sidebar {
        display: none;

        width: 0;
    }
}

/* Media Queries: Tablet */
@media (max-width: 900px) {

    /* Upper Navigation */
    nav {
        padding: 7px 15px;
    }

    .upperNav {
        border-radius: 10px;
    }
    
    .navContents {
        justify-content: space-between;
    }

    .navContent {
        margin: 0;
    }

    .menuToggle,
    .search,
    .tasks,
    .languageToggle,
    .apps,
    .notifications,
    .inbox,
    .profile {
        display: none;
    }

    .logo-mobile,
    .aPr-mobile {
        display: flex;
    }

    /* Hero Section: Directory */
    .directoryText .description {
        display: none;
    }

    .header-1, .header-2, .header-3, .header-5
    .blockCol-1, .blockCol-2, .blockCol-3, .blockCol-5 {
        width: 100%;
    }
    
    .header-4,
    .blockCol-4 {
        display: none;
    }
}
