@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    user-select: none;
}

:root {
    /* Sidebar: Container Width */
    --sidebar-width: 260px;

    /* Upper Nav: Height */
    --nav-height: 70px;

    /* Upper Nav: Margins */
    --nav-margin: 10px;

    /* Tile Presets: Progress Bar */
    --prog-height: 3px;
    --prog-height-2: 3px;

    /* Main - Tiles: Border Radius */
    --tile-bor-rad: 20px;

    /* Tile 2 - Table: Cell Width */
    --cell-width-1: 30px;
    --cell-width-2: 10px;
    --cell-width-2b: 15px;
    --cell-width-3: 15px;

    /* Tile 3 - Analytics: Progress Bar Glow */
    --prog-color-1: #7EF29D;
    --prog-color-2: #6BDFDB;
    --prog-color-3: #F4D941;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, p, span, i {
    transition: 0.2s ease;
}

/* Animations */
@keyframes grow {
    100% {
        width: calc(100% - 50%);
    }
}

/* General Presets: Checkbox */
.checkbox {
    appearance: none;

    height: 15px;
    width: 15px;

    border-radius: 5px;

    background-color: #2D3136;

    cursor: pointer;

    transition: background-color 0.5s ease;
}

.checkbox:checked {
    background-color: #0D6EFD;
}

.checkbox::after {
    content: '';

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    color: white;
}

/* Page Foundation */
body {
    background-color: #181B1E;

    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: row;

    height: fit-content;
    width: 100%;
}

/* Sidebar */
.sidebarContainer {
    display: flex;

    height: 100vh;
    width: var(--sidebar-width);

    transition: 0.5s ease;
}

.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;

    position: fixed;

    height: 100vh;
    width: var(--sidebar-width);

    border-right: 1px solid #484F56;
    border-radius: 0;

    background-color: #212428;

    transition: 0.5s ease;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    height: 40px;

    transition: 0.5s ease;

    transform: translateY(-100px);
}

.logo img {
    height: 100%;

    transition: 0.5s ease;
}

.logo img:hover {
    filter: drop-shadow(0 0 10px rgba(228, 120, 90, 0.5));

    transform: scale(1.1);
}

.bannerContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;

    height: 100px;
    width: 100%;

    transition: 0.5s ease;

    z-index: -1;
}

.bannerContainer .banner {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    border-radius: 10px;

    background-color: #181B1E;

    cursor: pointer;

    overflow: hidden;
}

.bannerContainer .banner img {
    height: 100%;

    transition: 0.5s ease;
}

.bannerContainer .banner:hover img {
    opacity: 50%;
}

.listContainer {
    display: flex;

    padding: 0 10px 10px 10px;

    height: 100%;
    width: 100%;
}

.listContainer .list {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    background-color: #212428;

    transition: 0.5s ease;
}

.listContainer .list .subheading {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    height: 25px;

    margin-bottom: 10px;
    padding: 30px 0 0 0;

    border-top: 1px solid #484F56;
    border-radius: 0;

    transition: 0.5s ease;
}

.listContainer .list .subheading h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;

    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.listContainer .list .subheading i {
    margin: 0 5px 0 0;

    font-size: 20px;
}

.listContainer .list .subheading:hover {
    background-color: transparent;
}

.listContainer .list .subheading:hover h1 {
    color: #DEE2E6;
}

.listContainer .list .listText {
    display: flex;
    align-items: center;

    margin: 6px 0 6px 16px;
}

.listContainer .list li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 5px;

    height: 40px;
    width: 100%;

    border-radius: 6px;

    list-style: none;

    transition: 0.5s ease;

    cursor: pointer;
}

.listContainer .list li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.listContainer .list li h1 {
    margin-left: 15px;

    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #A7ACB1;

    transition: 0.5s ease;
}

.listContainer .list li i {
    font-size: 24px;
    color: #A7ACB1;

    transition: 0.5s ease;

    cursor: pointer;
}

.listContainer .list li .dropdown {
    display: flex;
    align-items: center;

    margin-right: 3px;

    transition: 0.5s ease;

    cursor: pointer;
}

.listContainer .list li:hover h1,
.listContainer .list li:hover .dropdown {
    color: #DEE2E6;
}

.listContainer .list li:hover i {
    color: #DEE2E6;
}

.credits {
    display: flex;
    flex-direction: column;

    margin: 0 0 10px 0;
    padding: 10px 20px;

    border-radius: 10px;

    text-wrap: nowrap;

    background-color: #181B1E;

    transition: 0.5s ease;
}

.credits h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #DEE2E6;
}

.credits span {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #DEE2E6;
}

/* Current Page */
.inSelection-1 {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Main Foundation */
.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Upper Navigation */
nav {
    display: flex;
    
    height: var(--nav-height);
    width: 100%;

    background-color: #181B1E;

    transition: 0.5s ease;
}

.upperNav {
    display: flex;
    align-items: center;
    justify-content: center;

    position: sticky;
    top: 0;

    padding: 0 24px;

    height: 100%;
    width: 100%;

    background-color: #212428;

    transition: 0.5s ease;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    z-index: 10;
}

/* Upper Navigation: Features */
.navContents {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
}

.navContent {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: var(--nav-margin);

    height: 40px;
    width: 40px;

    border-radius: 80px;

    background-color: transparent;

    transition: 0.5s ease;

    cursor: pointer;
}

.navContent:nth-of-type(1):hover,
.navContent:nth-of-type(4):hover,
.navContent:nth-of-type(5):hover,
.navContent:nth-of-type(6):hover,
.navContent:nth-of-type(7):hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.navContent i {
    font-weight: 100;
    font-size: 24px;

    color: #DEE2E6;
}

/* Upper Navigation: Menu Toggle */
.menu {
    margin-right: 24px;
}

/* Upper Navigation: Search */
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    margin: 0 10px;

    height: 40px;
}

.input {
    display: flex;
    align-items: center;

    padding: 3px 0;

    height: fit-content;
    width: 100%;

    border: 1px solid #484F56;
    border-radius: 40px;
}

.inputIcon {
    display: flex;
    align-items: center;

    margin-left: 12px;
}

.inputIcon i {
    font-size: 24px;

    color: #DEE2E6;
}

.inputFieldContainer {
    display: flex;
    flex-grow: 1;

    margin: 0 10px;
}

.inputField {
    display: flex;

    height: 30px;
    width: 100%;

    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #DEE2E6;

    border: none;

    resize: none;
    outline: none;

    background-color: transparent;
}

/* Upper Navigation: Language */
.languageToggle {
    margin-right: var(--nav-margin);
    margin-left: 15px;
}

.languageToggle img {
    transition: 0.5s ease;
}

.languageToggle:hover img {
    transform: scale(1.2);
}

.languageToggle:active img {
    transform: scale(0.9);
}

.languageToggle img {
    height: 60%;
}

/* Upper Navigation: Profile */
.profile,
.profile-mobile {
    margin-left: 5px;
}

.profile:hover,
.profile-mobile:hover {
    transform: scale(1.1);
}

.profile:active,
.profile-mobile:active {
    transform: scale(0.9);
}

.profileBg,
.profile-mobile .profileBg {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;

    border: 1px solid #484F56;
    border-radius: 80px;
}

.imageContainer,
.profile-mobile .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;

    border-radius: 80px;
}

.profile img,
.profile-mobile img {
    height: 75%;
}

/* Upper Navigation: Mobile */
.logo-mobile {
    display: none;
    align-items: center;
    justify-content: center;
}

.logo-mobile img {
    height: 30px;
}

.logo-mobile:hover {
    filter: drop-shadow(0 0 10px rgba(228, 120, 90, 0.5));

    transform: scale(1.1);
}

.logo-mobile,
.aPr-mobile {
    display: none;
}

.aPr-mobile {
    justify-content: end;

    gap: 10px;
}

.aPr-mobile .profile-mobile {
    transition: 0.5s ease;
}

/* Upper Navigation: Lists */
.navList {
    display: none;
    flex-direction: column;

    position: absolute;
    top: 60px;

    padding: 5px;

    border: 1px solid #2D3136;
    border-radius: 10px;

    background: rgba(24, 27, 30, 0.7);

    transition: 0.5s ease;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    cursor: pointer;
}

.navListItem {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px 10px;

    width: fit-content;

    transition: 0.5s ease;

    cursor: pointer;
}

.navListItem:hover {
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.1);
}

.navListItem h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400 !important;
    font-size: 15px;
    color: #A7ACB1;
}

.navListItem:hover h1 {
    color: #DEE2E6;
}

.navListItem img {
    height: 30px;
}

.navListItem img:hover,
.navListItem img:active {
    transform: scale(1);
}

/* Hero Section Foundation */
.hero {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding: 24px;

    background-color: #181B1E;

    transition: 0.5s ease;
}

/* Hero Section: Directory */
.directory {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 16px;
}

.directoryContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.directoryText {
    display: flex;
    align-items: center;

    width: 275px;
}

.directoryText .header {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 0 16px 0 0;

    height: 30px;

    border-right: 1px solid #484F56;

    cursor: pointer;

    z-index: 1;
}

.directoryText .headerText {
    padding: 5px 7px;

    border-radius: 10px;

    transition: 0.5s ease;
}

.directoryText .headerText h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #DEE2E6;
}

.directoryText .headerText:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.directoryText .headerList {
    display: none;

    position: absolute;
    top: 135px;

    padding: 5px;

    border: 1px solid #2D3136;
    border-radius: 10px;

    background: rgba(24, 27, 30, 0.7);

    transition: 0.5s ease;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    cursor: pointer;
}

.directoryText .headerListItem {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px 10px;

    min-width: 90px;

    transition: 0.5s ease;

    cursor: pointer;
}

.directoryText .headerListItem:hover {
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.1);
}

.directoryText .headerListItem h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400 !important;
    font-size: 15px;
    color: #A7ACB1;
}

.directoryText .headerListItem:hover h1 {
    color: #DEE2E6;
}

.directoryText .description {
    display: flex;
    align-items: center;

    padding: 0 0 0 20px;

    text-wrap: nowrap;
}

.directoryText .description i {
    padding: 0 8px 0 0;

    font-weight: 500;
    font-size: 20px;
    color: #DEE2E6BF;
}

.directoryText .description h2 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #DEE2E6BF;
}

.settings {
    display: flex;
    align-items: center;
}

.settings button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;

    border: 1px solid #0D6EFD;
    border-radius: 6px;

    background-color: #181B1E;

    transition: 0.5s ease;

    cursor: pointer;
}

.settings button:hover {
    background-color: #0D6EFD;
}

.settings button i {
    font-size: 20px;
    color: #0D6EFD;

    transition: 0.75s ease;
}

.settings button:hover i {
    color: #DEE2E6;

    transform: rotate(360deg);
}

/* Hero Section: Tiles - Container Foundation */
.tileFoundation {
    display: flex;
}

.lh-c {
    display: flex;
    flex-direction: column;

    width: 210%;
}

.rh-c {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

/* Hero Section: Tiles - Left Container Presets */
.lh-c .row-1 {
    display: flex;

    padding: 0 12px 12px 0;

    height: fit-content;
}

.lh-c .row-2 {
    display: flex;

    height: 100%;
    width: 100%;
}

.lh-c .row-2 .sc-1 {
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 100%;

    padding: 12px 12px 0 0;

    gap: 24px;
}

.lh-c .row-2 .sc-2 {
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 100%;

    padding: 12px 12px 0 12px;
}

.lh-c .row-2 .sc-1 .tile,
.lh-c .row-2 .sc-2 .tile {
    display: flex;

    width: 100%;
}

/* Hero Section: Tiles - Right Container Presets */
.rh-c .row-1 {
    display: flex;
    align-items: center;

    padding: 0 0 12px 12px;

    height: 100%;
    width: 100%;

    gap: 24px;
}

.rh-c .row-2 {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 12px 0 0 12px;

    height: 100%;
    width: 100%;

    gap: 24px;
}

.rh-c .row-2 .sr-1,
.rh-c .row-2 .sr-2 {
    display: flex;
    align-items: center;

    gap: 24px;

    height: 100%;
    width: 100%;
}

/* Hero Section: Tiles - Tile Presets */
.tile {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding: 20px;

    height: 250px;
    width: 0;

    border-radius: var(--tile-bor-rad);

    background-color: #212428;

    transition: 0.5s ease;
}

/* Hero Section: Tiles - Left Container R1 Greeting */
.tile-1 {
    padding: 20px !important;
}

.tile-1 .tileContainer {
    display: flex;
    flex-grow: 1;

    gap: 35px;
}

.tileGreeting {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.greetingHeader {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.greetingProfile {
    display: flex;

    height: 100%;
    width: 100%;

    padding: 20px 10px;

    border-radius: 10px;

    background-color: #181B1E;

    transition: 0.5s ease;
}

.greetingProfileHeader {
    display: flex;
    align-items: center;

    gap: 15px;
}

.greetingProfileImg {
    margin-left: 5px;

    transition: 0.5s ease;
}

.greetingProfileImg:hover {
    padding: 0 5px 0 0;

    transform: scale(1.1);
}

.greetingProfileBg {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 70px;
    width: 70px;

    border: 1px solid #484F56;
    border-radius: 80px;
}

.greetingProfileImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 70px;
    width: 70px;

    border-radius: 80px;
}

.greetingProfileImg img {
    height: 75%;
}

.greetingProfileText h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #DEE2E6;
}

.greetingProfileText h2 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #DEE2E6;
}

.greetingAnalytics {
    display: flex;
    align-items: center;

    margin: 20px 0 10px 0;

    width: 100%;
}

.greetingAnalytic {
    display: flex;
    justify-content: center;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.greetingAnalytic:nth-of-type(1) {
    margin: 0 0 0 10px;
}

.greetingAnalyticHeader {
    display: flex;
    align-items: center;

    gap: 15px;
}

.greetingAnalyticIcon {
    display: flex;
    align-items: center;

    padding: 10px 10px;

    height: 100%;

    border-radius: 5px;

    background-color: rgba(222, 226, 230, 0.2);
}

.greetingAnalyticIcon i {
    color: #DEE2E6;
}

.greetingAnalyticText h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #DEE2E6;
}

.greetingAnalyticText h2 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #DEE2E6;
}

.greetingAnalytic .progressBar {
    margin: 15px 0 0 0;

    height: var(--prog-height);
    width: 100%;

    border-radius: 5px;

    background-color: rgba(255, 255, 255, 0.1);
}

.greetingAnalytic .progressBarPercentage {
    height: var(--prog-height);
    width: 0;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    background: linear-gradient(90deg, #E4795A, #FFBB41);

    box-shadow: 0 0 20px 2px rgba(228, 120, 90, 0.5);

    overflow: hidden;

    animation: grow ease 0.75s forwards;
}

/* Hero Section: Flagged Messages - Left Container R1  */
.todoList {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 50%;
}

.todoListTile {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding: 0 20px 5px 20px;

    border-radius: 15px;

    background-color: #181B1E;

    transition: 0.5s ease;
}

.todoListHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 0 10px 0;

    height: fit-content;
    width: 100%;

    border-bottom: 1px solid #484F56;
}

.todoListHeader h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #DEE2E6;
}

.todoListHeader i {
    font-size: 20px;
    color: #DEE2E6;
}

.todoListHeaderMenu i {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 30px;
    width: 30px;

    border-radius: 80px;

    font-size: 20px;
    color: #DEE2E6;

    transition: 0.5s ease;

    cursor: pointer;
}

.todoListHeaderMenu i:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.todoListItemContainer {
    height: 100%;

    overflow-y: auto;
}

.todoListItems {
    display: flex;
    flex-direction: column;

    padding: 10px 0;

    height: 100%;

    gap: 5px;

    overflow: hidden;
}

.todoListItems .listRow {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;

    gap: 5px;
}

.todoListItems .listRow .listItem {
    display: flex;
    align-items: center;

    padding: 0 15px 0 15px;

    height: 100%;
    width: 100%;
    min-height: 40px;

    border-radius: 5px;

    background-color: #212428;

    transition: 0.5s ease;

    cursor: pointer;
}

.todoListItems .listRow .listItem .listItemText {
    display: flex;
    align-items: center;

    gap: 15px;

    overflow-y: hidden;
}

.todoListItems .listRow .listItem .listItemText h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #DEE2E6;
}

.todoListItems .listRow .listItem .listItemText .flagged {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 15px;
    width: 15px;
}

.todoListItems .listRow .listItem .listItemText .flagged h1 {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.2);
}

/* Hero Section: Tiles - Left Container R2/SC-1 Content */
.tile-2 {
    height: fit-content;
    min-width: 50%;
}

.tile-2 .tileHeader .tileHeaderText h2 {
    margin: 5px 0 20px 0;
}

.tile-2 .tileHeader .tileHeaderText span {
    font-weight: 400;

    border-radius: 5px;

    transition: 0.5s ease;
}

.tableContainer {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.tableHeaders {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: fit-content;
    width: 100%;
}

.tableHeader {
    display: flex;
    align-items: center;

    height: 100%;

    border-right: 1px solid #484F56;
    border-bottom: 1px solid #484F56;
}

.tableHeader h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #DEE2E6;
}

.tableHeader:first-child {
    padding: 0 var(--cell-width-1) 8px 5px;

    max-width: 100px;
}

.tableHeaders .header-2 {
    flex-grow: 1;

    padding: 0 0 8px var(--cell-width-2);
}

.tableHeader:last-child {
    padding: 0 var(--cell-width-3) 8px var(--cell-width-3);

    border-right: none;
}

.tableColumns {
    display: flex;
    flex-direction: column;

    max-height: 370px;
    width: 100%;

    overflow-y: scroll;
}

.tableColumns::-webkit-scrollbar {
    display: none;
}

.tableRows {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 100%;

    max-height: 40px;

    transition: 0.5s ease;
}

.tableRow {
    display: flex;
    align-items: center;
    justify-content: center;

    text-wrap: wrap;

    height: 100%;
}

.tableRows:nth-child(even) {
    border-radius: 5px;

    background-color: #181B1E;
}

.tableRows:nth-child(even):hover,
.tableRows:nth-child(odd):hover {
    background-color: rgba(24, 27, 30, 0.4);
}

.tableRow h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #DEE2E6;
}

.tableRow:first-child {
    height: 100%;
    max-width: 100px;

    padding: 0 var(--cell-width-1) 0 5px;
}

.tableRows .row-2 {
    display: flex;
    align-self: center;
    justify-content: flex-start;
    flex-grow: 1;

    height: 40px;

    padding: 0 0 0 var(--cell-width-2b);
}

.tableRow:last-child {
    padding: 0 var(--cell-width-3) 0 var(--cell-width-3);

    border-right: none;
}

/* Hero Section: Tiles - Left Container R2/SC-2 Content */
.lh-c .row-2 .sc-2 .tile-3 {
    display: flex;

    height: fit-content;
}

.tile-3 .tileHeader {
    margin: 0 0 -20px 0;
}

.tile-3 .tileHeader .tileHeaderText h2 {
    margin: 5px 0 20px 0;
}

.tile-3 .tileHeader .tileHeaderText span {
    font-weight: 400;

    border-radius: 5px;

    transition: 0.5s ease;
}

.graphVisual {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}

.graphData {
    display: flex;
    flex-direction: column;

    height: 100%;

    margin: 10px 0 0 0;
}

.graphDataHeader {
    display: flex;

    height: fit-content;
}

.graphDataHeaderName {
    display: flex;
    align-items: center;

    height: fit-content;

    gap: 20px;
}

.graphDataHeaderName h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 38px;
    color: #DEE2E6;
}

.graphDataHeaderName .graphDataHeaderGrowth {
    display: flex;
    align-items: center;

    margin: 10px 0 0 0;

    height: fit-content;

    gap: 5px;
}

.graphDataHeaderName .graphDataHeaderGrowth i {
    font-size: 16px;
    color: #02C27A;
}

.graphDataHeaderName .graphDataHeaderGrowth h3 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #02C27A;
}

.graphDataHeaderText {
    display: flex;
    flex-direction: column;
}

.graphDataHeaderText h2 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #DEE2E6;
}

.graphDataProgress {
    display: flex;
    flex-direction: column;

    margin: 10px 0 0 0;
}

.graphDataProgress .progressBarContainer {
    display: flex;
    flex-direction: column;

    margin: 15px 0 0 0;

    height: fit-content;
}

.graphDataProgress .progressBarContainer-1 {
    margin: 5px 0 0 0;
}

.graphDataProgress .progressBarContainer .progressBarHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.graphDataProgress .progressBarContainer .progressBarHeaderName {
    display: flex;

    gap: 7px;
}

.graphDataProgress .progressBarContainer .progressBarHeaderName i {
    font-size: 20px;
    color: #DEE2E6;
}

.graphDataProgress .progressBarContainer .progressBarHeaderName h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #DEE2E6;
}

.progressBarHeader .progressBarHeaderStat {
    display: flex;
}

.progressBarHeader .progressBarHeaderStat h2 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #DEE2E6;
}

.graphDataProgress .progressBar {
    display: flex;
    align-items: center;

    margin: 7px 0 0 0;

    height: var(--prog-height-2);
    width: 100%;

    border-radius: 5px;

    background-color: rgba(255, 255, 255, 0.1);
}

.graphDataProgress .progressBarPercentage {
    height: var(--prog-height-2);
    width: 0;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    overflow: hidden;

    animation: grow ease 0.75s forwards;
}

/* Tile 3: Analytics - Graph Data Progress Bar Values  */
.graphDataProgress .progressBar-1 .progressBarPercentage {
    background: linear-gradient(90deg, var(--prog-color-1) 60%, #0F68A9);

    box-shadow: 0 0 60px -0.5px var(--prog-color-1);
}

.graphDataProgress .progressBar-2 .progressBarPercentage {
    background: linear-gradient(90deg, var(--prog-color-2) 70%, #2278FB);

    box-shadow: 0 0 60px -0.5px var(--prog-color-2);

    animation-delay: 0.1s;
}

.graphDataProgress .progressBar-3 .progressBarPercentage {
    background: linear-gradient(90deg, var(--prog-color-3) 70%, #EC8235);

    box-shadow: 0 0 60px -0.5px var(--prog-color-3);

    animation-delay: 0.15s;
}

/* Hero Section: Tiles - Right Container R1/SR-1 Content */
.tileHeader {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.tileHeader .tileHeaderText {
    display: flex;
    flex-direction: column;
}

.tileHeader .tileHeaderText h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #DEE2E6;
}

.tileHeader .tileHeaderText h2 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #DEE2E6;
}

.tileHeader .tileHeaderText .tileHeaderTextName {
    display: flex;
    align-items: center;

    gap: 10px;
}

.tileHeader .tileHeaderText .tileHeaderTextName h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #DEE2E6;
}

.tileHeader .tileHeaderGrowth {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3px 7px 3px 5px;

    border-radius: 10px;

    background-color: rgba(222, 226, 230, 0.1);
}

.tileHeader .tileHeaderGrowth .tileHeaderGrowthText {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tileHeader .tileHeaderGrowth .tileHeaderGrowthText i {
    margin: 0 3px 0 0;

    font-size: 13px;

    color: #DEE2E6;
}

.tileHeader .tileHeaderGrowth .tileHeaderGrowthText h3 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;

    color: #DEE2E6;
}

.tileHeader .tileHeaderMenu i {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 30px;
    width: 30px;

    border-radius: 80px;

    font-size: 20px;
    color: #DEE2E6;

    transition: 0.5s ease;

    cursor: pointer;
}

.tileHeader .tileHeaderMenu i:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.tileSynopsis {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.tileSynopsis p {
    text-align: center;

    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #DEE2E6;
}

.tileVisualContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 0 5px 0;

    height: 100%;
    width: 100%;

    overflow: hidden;
}

.tile-6 .tileVisualContainer {
    overflow-x: scroll;
}

.tile-6 .tileVisualContainer::-webkit-scrollbar {
    display: none;
}

.tile-8 .tileVisualContainer {
    margin: 15px 0 0 0;
}

/* Specific Tile Header Presets */
/* Tile 4 */
.tile-4 .tileHeader {
    margin: 0 0 20px 0;
}

.tile-4 .tileHeader .tileHeaderGrowth {
    background-color: rgba(252, 24, 90, 0.1);
}

.tile-4 .tileHeader .tileHeaderGrowth .tileHeaderGrowthText i {
    color: #FC185A;
}

.tile-4 .tileHeader .tileHeaderGrowth .tileHeaderGrowthText h3 {
    color: #FC185A;
}

/* Tile 5 */
.tile-5 .tileHeader .tileHeaderGrowth {
    background-color: rgba(2, 194, 122, 0.1);
}

.tile-5 .tileHeader .tileHeaderGrowth .tileHeaderGrowthText i {
    color: #02C27A;
}

.tile-5 .tileHeader .tileHeaderGrowth .tileHeaderGrowthText h3 {
    color: #02C27A;
}

/* Tile 6 */
.tile-6 .tileHeader .tileHeaderGrowth {
    background-color: rgba(2, 194, 122, 0.1);
}

.tile-6 .tileHeader .tileHeaderGrowth .tileHeaderGrowthText i {
    color: #02C27A;
}

.tile-6 .tileHeader .tileHeaderGrowth .tileHeaderGrowthText h3 {
    color: #02C27A;
}

/* Tile 7 */
.tile-7 .tileHeader .tileHeaderGrowth {
    background-color: rgba(255, 193, 7, 0.1);
}

.tile-7 .tileHeader .tileHeaderGrowth .tileHeaderGrowthText i {
    color: #FFC107;
}

.tile-7 .tileHeader .tileHeaderGrowth .tileHeaderGrowthText h3 {
    color: #FFC107;
}

/* Theme Toggle */
.theme-toggle {
    display: flex;
    position: fixed;

    right: 30px;
    bottom: 30px;

    padding: 10px;

    height: fit-content;
    width: fit-content;

    border-radius: 30px;

    background-color: #DEE2E6;

    transition: 0.5s ease;

    cursor: pointer;
}

.theme-toggle:hover {
    transform: scale(1.1);
}

.theme-toggle i {
    color: #181B1E;
}

/* Media Queries: Larger Laptops */
@media (min-width: 1501px) and (max-width: 1700px) {

    /* General Presets: Checkbox */
    .checkbox {
        height: 12px;
        width: 12px;

        border-radius: 4px;
    }

    /* Hero Section: Tiles - Container Foundation */
    .lh-c {
        width: 100%;
    }

    .rh-c {
        max-width: 400px;
    }

    /* Hero Section: Tiles - Tile Presets */
    .tile {
        padding: 17px;
    }

    .tile-1,
    .tile-4,
    .tile-5,
    .tile-6,
    .tile-7,
    .tile-8 {
        max-height: 200px;
    }

    .tileHeader .tileHeaderText .tileHeaderTextName h1 {
        font-size: 16px;
    }

    .tile-4 .tileHeader .tileHeaderText h2,
    .tile-5 .tileHeader .tileHeaderText h2,
    .tile-6 .tileHeader .tileHeaderText h2,
    .tile-7 .tileHeader .tileHeaderText h2,
    .tile-8 .tileHeader .tileHeaderText h2 {
        font-size: 11px;
    }

    .tileHeaderGrowth {
        max-height: 15px;
    }

    .tileHeaderGrowthText h3 {
        font-size: 10px;
    }

    .tileSynopsis {
        display: none;
    }

    /* Hero Section: Tiles - Specific Tile Presets */
    .tileHeader .tileHeaderGrowth {
        padding: 2px;

        border-radius: 10px;
    }

    .tileHeader .tileHeaderGrowth .tileHeaderGrowthText h3 {
        display: none;
    }

    .tileHeader .tileHeaderGrowth .tileHeaderGrowthText i {
        margin: 0;
    }

    .tileHeader .tileHeaderText h1 {
        font-family: "Noto Sans", sans-serif;
        font-weight: 500;
        font-size: 17px;
        color: #DEE2E6;
    }

    .tileHeader .tileHeaderText h2 {
        font-family: "Noto Sans", sans-serif;
        font-weight: 300;
        font-size: 12px;
        color: #DEE2E6;
    }

    .tileHeader .tileHeaderMenu i {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 23px;
        width: 23px;

        border-radius: 80px;

        font-size: 17px;
        color: #DEE2E6;

        transition: 0.5s ease;

        cursor: pointer;
    }

    /* Hero Section: Tiles - Tile 1: Greeting Profile */
    .greetingProfile {
        padding: 10px 7px;
    }

    .greetingProfileHeader {
        display: flex;
        align-items: center;

        gap: 15px;
    }

    .greetingProfileImg {
        margin-left: 5px;

        transition: 0.5s ease;
    }

    .greetingProfileImg:hover {
        padding: 0 5px 0 0;

        transform: scale(1.1);
    }

    .greetingProfileBg,
    .greetingProfileImageContainer {
        height: 55px;
        width: 55px;
    }

    .greetingProfileText h1 {
        font-size: 16px;
    }

    .greetingProfileText h2 {
        font-size: 12px;
    }

    .greetingAnalytics {
        display: flex;
        align-items: center;

        margin: 20px 0 10px 0;

        width: 100%;
    }

    .greetingAnalytic {
        display: flex;
        justify-content: center;
        flex-direction: column;

        height: 100%;
        width: 100%;
    }

    .greetingAnalytic:nth-of-type(1) {
        margin: 0 0 0 10px;
    }

    .greetingAnalyticHeader {
        display: flex;
        align-items: center;

        gap: 15px;
    }

    .greetingAnalyticIcon {
        display: flex;
        align-items: center;

        height: 100%;

        border-radius: 5px;

        background-color: rgba(222, 226, 230, 0.2)
    }

    .greetingAnalyticIcon i {
        font-size: 15px;
        color: #DEE2E6
    }

    .greetingAnalyticText h1 {
        font-size: 16px;
    }

    .greetingAnalyticText h2 {
        font-size: 11px;
    }

    .greetingAnalytic .progressBar,
    .greetingAnalytic .progressBarPercentage {
        height: 3px;
    }

    /* Hero Section: Tiles - Tile 1: To-Do List */
    .todoListTile {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        padding: 0 20px 5px 20px;

        border-radius: 15px;

        background-color: #181B1E;

        transition: 0.5s ease;

        overflow-y: hidden;
    }

    .todoListHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 10px 0 5px 0;

        height: fit-content;
        width: 100%;

        border-bottom: 1px solid #484F56;
    }

    .todoListHeader h1 {
        font-size: 16px;
    }

    .todoListHeaderMenu i {
        height: 25px;
        width: 25px;

        font-size: 15px;
    }

    .todoListHeaderMenu i:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .todoListItemContainer {
        height: 100%;

        overflow-y: hidden;
    }

    .todoListItems .listRow .listItem {
        padding: 0 10px;

        min-height: 15px;
    }

    .todoListItems .listRow .listItem .listItemText {
        display: flex;
        align-items: center;

        gap: 10px;

        overflow-y: hidden;
    }

    .todoListItems .listRow .listItem .listItemText h1 {
        font-size: 11px;
    }

    /* Hero Section: Tiles - Tile 2 */
    .tableColumns {
        max-height: 320px;

        overflow: hidden;
    }
}

/* Media Queries: Smaller Laptops */
@media (max-width: 1500px) {

    /* Page Foundation */
    .container {
        overflow-x: hidden;
    }

    /* Sidebar */
    .sidebarContainer,
    .sidebar {
        display: none;

        width: 0;
    }

    /* Hero Section: Tiles - Container Foundation */
    .tileFoundation {
        flex-direction: column;
    }

    .lh-c {
        width: 100%;
    }

    .rh-c {
        margin: 24px 0 0 0;
    }

    /* Hero Section: Tiles - Left Container Presets */
    .lh-c .row-1 {
        padding: 0 0 12px;
    }

    .lh-c .row-2 {
        flex-direction: column;
    }

    .lh-c .row-2 .sc-1 {
        padding: 12px 0 12px 0;
    }

    .lh-c .row-2 .sc-2 {
        padding: 12px 0 0 0;
    }

    /* Hero Section: Tiles - Right Container Presets */
    .rh-c .row-1 {
        padding: 0 0 12px 0;
    }

    .rh-c .row-2 {
        padding: 12px 0 0 0;
    }

    /* Hero Section: Tiles - Tile 1 */
    .tile-1 {
        height: fit-content !important;
    }

    .tile-1 .tileContainer {
        flex-direction: column;

        gap: 0;
    }

    .tile-1 .todoList {
        width: 100%;
    }

    .tile-1 .greetingAnalytics {
        margin: 20px 0;
    }

    .tableColumns {
        max-height: 100%;

        overflow: hidden;
    }

    .tableRows .row-2 {
        flex-direction: row;
    }
}

/* Media Queries: Tablet */
@media (max-width: 900px) {

    /* Page Foundation */
    body {
        background-color: #212428;
    }

    /* Upper Navigation */
    nav {
        padding: 7px 15px;
    }

    .upperNav {
        border-radius: 10px;
    }
    
    .navContents {
        justify-content: space-between;
    }

    .navContent {
        margin: 0;
    }

    .menuToggle,
    .search,
    .tasks,
    .languageToggle,
    .apps,
    .notifications,
    .inbox,
    .profile {
        display: none;
    }

    .logo-mobile,
    .aPr-mobile {
        display: flex;
    }

    /* Hero Section: Directory */
    .directoryText .description {
        display: none;
    }

    /* Hero Section: Tiles - Container Foundation */
    .rh-c {
        flex-direction: row;
    }

    /* Hero Section: Tiles - Right Container Presets */
    .rh-c .row-1,
    .rh-c .row-2 .sr-1 {
        flex-direction: column;
    }

    .rh-c .row-1 .tile,
    .rh-c .row-2 .sr-1 .tile {
        width: 100%;
    }

    .rh-c .row-1 {
        padding: 0 12px 0 0;
    }

    .rh-c .row-2 {
        padding: 0 0 0 12px;
    }

    /* Hero Section: Tiles - Tile 1 */
    .tile-1 {
        height: fit-content !important;
    }

    .tile-1 .tileContainer {
        flex-direction: column;

        gap: 0;
    }

    .tile-1 .todoList {
        width: 100%;
    }

    .tile-1 .greetingAnalytics {
        margin: 20px 0;
    }

    /* Hero Section: Tiles - Tile 2 */
    .tableColumns {
        max-height: 100%;

        overflow: hidden;
    }

    .tableRows .row-2 {
        flex-direction: row;
    }
}

/* Media Queries: Phone */
@media (max-width: 800px) {

    /* Hero Section: Tiles - Container Foundation */
    .rh-c {
        flex-direction: column;
    }

    /* Hero Section: Tiles - Right Container Presets */
    .rh-c .row-1 {
        padding: 0 0 12px 0;
    }

    .rh-c .row-2 {
        padding: 12px 0 0 0;
    }
}